aniso8601==7.0.0
certifi==2019.6.16
chardet==3.0.4
Click==7.0
Flask==1.1.1
Flask-GraphQL==2.0.0
Flask-JWT-Extended==3.21.0
graphene==2.1.8
graphene-gae==2.0.0
graphql-core==2.2.1
graphql-relay==2.0.0
graphql-server-core==1.1.1
idna==2.8
inflect==0.2.5
iso8601==0.1.12
itsdangerous==1.1.0
Jinja2==2.10.1
MarkupSafe==1.1.1
promise==2.2.1
PyJWT==1.7.1
requests==2.22.0
requests-toolbelt==0.9.1
Rx==1.6.1
six==1.12.0
toolz==0.10.0
typing==3.7.4.1
urllib3==1.25.8
Werkzeug==0.15.5
